BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## PERGOLA REVA 0.1

LOCATE COMP "clk_16mhz" SITE "P11";
IOBUF  PORT "clk_16mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_16mhz" 16 MHZ;

LOCATE COMP "led[7]" SITE "F15";
LOCATE COMP "led[6]" SITE "E16";
LOCATE COMP "led[5]" SITE "E15";
LOCATE COMP "led[4]" SITE "D16";
LOCATE COMP "led[3]" SITE "C16";
LOCATE COMP "led[2]" SITE "C15";
LOCATE COMP "led[1]" SITE "B16";
LOCATE COMP "led[0]" SITE "B15";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn" SITE "F14";
IOBUF  PORT "btn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


# Connector("pmod", 0, "P2  L1  J2  H2  - - N1  L2  J1  G1  - -"), # PMOD1
# Connector("pmod", 1, "G2  E2  C1  B1  - - F1  D1  C2  B2  - -"), # PMOD2
# Connector("pmod", 2, "D4  C6  B7  C7  - - C4  B6  A7  A8  - -"), # PMOD3
# Connector("pmod", 3, "B11 B12 B13 B14 - - A12 A13 A14 A15 - -"), # PMOD4
# Connector("pmod", 4, "F16 G16 J16 L16 - - G15 H15 J15 L15 - -"), # PMOD5

# PMOD1 INPUT
# Connector("pmod", 0, "P2  L1  J2  H2  - - N1  L2  J1  G1  - -"), # PMOD1
#                       C+  0+  1+  2+      C-  0-  1-  2-
LOCATE COMP "gpdi_out[0]" SITE "L1"; # Blue
LOCATE COMP "gpdi_out[1]" SITE "J1"; # Green inverted
LOCATE COMP "gpdi_out[2]" SITE "G1"; # Red inverted
LOCATE COMP "gpdi_out[3]" SITE "N1"; # Clock inverted
IOBUF PORT "gpdi_out[0]" IO_TYPE=LVDS DIR=INPUT DIFFRESISTOR=100;
IOBUF PORT "gpdi_out[1]" IO_TYPE=LVDS DIR=INPUT DIFFRESISTOR=100;
IOBUF PORT "gpdi_out[2]" IO_TYPE=LVDS DIR=INPUT DIFFRESISTOR=100;
IOBUF PORT "gpdi_out[3]" IO_TYPE=LVDS DIR=INPUT DIFFRESISTOR=100;


# PMOD2 OUTPUT
# Connector("pmod", 1, "G2  E2  C1  B1  - - F1  D1  C2  B2  - -"), # PMOD2
#                       C+  0+  1+  2+      C-  0-  1-  2-
LOCATE COMP "gpdi_in[0]" SITE "D1"; # Blue inverted
LOCATE COMP "gpdi_in[1]" SITE "C1"; # Green
LOCATE COMP "gpdi_in[2]" SITE "B1"; # Red
LOCATE COMP "gpdi_in[3]" SITE "F1"; # Clock inverted
IOBUF PORT "gpdi_in[0]" IO_TYPE=LVDS DIR=OUTPUT;
IOBUF PORT "gpdi_in[1]" IO_TYPE=LVDS DIR=OUTPUT;
IOBUF PORT "gpdi_in[2]" IO_TYPE=LVDS DIR=OUTPUT;
IOBUF PORT "gpdi_in[3]" IO_TYPE=LVDS DIR=OUTPUT;

# Connector("pmod", 4, "F16 G16 J16 L16 - - G15 H15 J15 L15 - -"), # PMOD5
LOCATE COMP "gpdi_out_secondary[0]" SITE "G16"; # Blue
LOCATE COMP "gpdi_out_secondary[1]" SITE "J16"; # Green
LOCATE COMP "gpdi_out_secondary[2]" SITE "L16"; # Red
LOCATE COMP "gpdi_out_secondary[3]" SITE "F16"; # Clock
IOBUF PORT "gpdi_out_secondary[0]" IO_TYPE=LVDS DIR=OUTPUT;
IOBUF PORT "gpdi_out_secondary[1]" IO_TYPE=LVDS DIR=OUTPUT;
IOBUF PORT "gpdi_out_secondary[2]" IO_TYPE=LVDS DIR=OUTPUT;
IOBUF PORT "gpdi_out_secondary[3]" IO_TYPE=LVDS DIR=OUTPUT;
